<div class="card mx-3 p-3">
    <div class="card-body text-center">
      <h5 class="card-title">Calculate return on interest</h5>
      <h5>A = P(1 + rt)</h5>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">$</span>
        <input type="text" class="form-control" placeholder="Loan Amount(P)" aria-label="P" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">%</span>
        <input type="text" class="form-control" placeholder="Interest(R)" aria-label="R" aria-describedby="basic-addon1">
    </div>
      
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Years to Repay(T)" aria-label="T" aria-describedby="basic-addon1">
    </div>
      
    <button class="btn dark-background white">Calculate</button>
</div>